@page "/Wallet"
@using Accounts.Application.AccountService
@using Accounts.Application.AccountService.Models
@using Accounts.Application.AccountService.Queries
@using Accounts.Application.TransactionService
@using Accounts.Application.TransactionService.Commands
@using Accounts.Application.TransactionService.Models
@using Enums
@using Primitives.EventBusScopedWrapper
@inject IEventBusWrapper EventBus
@rendermode InteractiveServer

<h3>My Wallet</h3>

<div class="form-group">
    <label for="selectAccount">Select Account:</label>
    <select id="selectAccount" @bind="_selectedAccount">
        <option value="">-- Select a Account --</option>
        @foreach (var account in _accounts)
        {
            <option value="@account">@account.Description</option>
        }
    </select>
</div>

<div class="form-group">
    <label for="money">Money:</label>
    <InputText id="money" @bind-Value="_moneyInput"/>
</div>

<button class="btn" @onclick="AddTransaction">Add</button>

<h4>Transactions List</h4>
<ul class="Transaction-list">
    @foreach (var a in _transactions)
    {
        <li class="Transaction-item">
            @* <strong>Account:</strong> @a.Account, <strong>Money:</strong> @a.Money, <strong>Last Modified:</strong> @a.LastModified.ToString("yyyy-MM-dd HH:mm:ss") *@

        </li>
    }
</ul>

<h4>Total Money: @* @totalMoney *@</h4>

@code {

    private AccountModel? _selectedAccount;

    private string? _moneyInput;

    private List<AccountModel> _accounts = [];

    private readonly List<TransactionModel> _transactions = [];


    protected override async Task OnInitializedAsync()
    {
        await UpdateAccountList();
    }

    private async Task UpdateAccountList()
    {
        _accounts = (await EventBus.QueryAsync(new GetAccountsQuery())).Accounts.ToList();
    }

    private async Task AddTransaction()
    {
        if (_selectedAccount is not null && _selectedAccount.Id != 0 && Decimal.TryParse(_moneyInput, out var moneyValue))
        {
            var transactionId = await EventBus.CommandAsync(new AddTransactionCommand(_selectedAccount.Id, CurrencyType.CNY, moneyValue, [], description: "test"));
        }
    }

}
